version: '3.4'

services:
  web:
    build: .
    depends_on:
      - db
    links:
      - "db:database"
    volumes:
      - ./:/code:ro
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db:
      image: postgres:15-alpine
      volumes:
        - postgres_data:/var/lib/postgresql/data/
        - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      expose:
        - "5432"
      environment:
        - POSTGRES_USER=superuser
        - POSTGRES_PASSWORD=slapta
        - POSTGRES_DB=payloads

volumes:
      postgres_data: 
      
